<div class="mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
      <div
        class="image d-flex flex-column justify-content-center align-items-center"
      >
        <button class="btn btn-secondary">
          <img src=""  id='img' height="100" width="100" style="border-radius:30px"/>
        </button>
        <span class="name mt-3">{{data.name}}</span>
        <span class="idd">@{{data.login}}</span>
        <div
          class="d-flex flex-row justify-content-center align-items-center gap-2"
        >
          <span class="idd1">{{data.blog}}</span>
          <span><i class="fa fa-copy"></i></span>
        </div>
        <div
          class="d-flex flex-row justify-content-center align-items-center mt-3"
        >
          <span class="number">{{data.public_repos}} <span class="follow">Repos</span></span>
        </div>         
          
      </div>
    </div>
  </div>
  