<div class="container  fs-4 h-100 p-5 bg-light border rounded-3">
    <h2>Detalles: </h2>
    <p class="font-weight-bold">Nombre: <span class="font-weight-normal">{{detallePais.name}}</span></p>    
    <p class="font-weight-bold">Region: <span class="font-weight-normal">{{detallePais.region}}</span></p>   
    <p class="font-weight-bold">Capital: <span class="font-weight-normal">{{detallePais.capital}}</span></p>    
    <img [src]="detallePais.flag" class="" style="width: 200px; height: 100px;">    
    <div class="row d-flex mx-auto">
    </div>
</div>
