<div class="container h-100 p-5 text-white bg-dark rounded-3">
    <h2>Detalles: </h2>
    <p class="font-weight-bold">DNI: <span class="font-weight-normal">{{inputItemSeleccionado.dni}}</span></p>
    <p class="font-weight-bold">Nombre: <span class="font-weight-normal">{{inputItemSeleccionado.nombre}}</span></p>
    <p class="font-weight-bold">Edad: <span class="font-weight-normal">{{inputItemSeleccionado.edad}}</span></p>
    <p class="font-weight-bold">Capacidad de Pizas: <span class="font-weight-normal">{{inputItemSeleccionado.capacidad}}</span></p>
    <p class="font-weight-bold">Nacionalidad: <span class="font-weight-normal">{{inputItemSeleccionado.nacionalidad}}</span></p>
    <div class="row d-flex mx-auto">
        <!-- <p class="mt-3 mx-2"><a class="btn btn-secondary"  role="button" >Limpiar</a></p> -->
        <!-- <p class="mt-3"><a class="btn btn-secondary"  role="button" (click)="borrar('actores',nombre+' '+apellido)">Borrar</a></p> -->
    </div>
</div>
