<main role="main">
    <div class="jumbotron container-fluid py-5 p-5 mb-4 bg-light rounded-3">
  
      <div class="col-md d-flex flex-wrap justify-content-center " >
          <table style="width: 60%;">
            <th *ngFor = "let column of headers">
                {{column}}
            </th>
            <tr *ngFor = "let item of listaItems">
                <td>
                    {{item.dni}}
                </td>
                <td>
                    {{item.nombre}}
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="seleccionItem(item);opcion='detalle'">Detalle</button>
                </td>
        
            </tr>
          </table>
      </div>
  
    </div>
  </main>
  
  <div class="container">
    <div class="row">
        <app-detalle-item class="col-md-4" [inputItemSeleccionado]="itemSeleccionado" *ngIf="itemSeleccionado"></app-detalle-item>
        <app-detalle-pais class="col-md-4" [inputItemSeleccionado]="itemSeleccionado" *ngIf="itemSeleccionado"></app-detalle-pais>
       </div>
  </div>
  